################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Server/M3alam/.vs/M3alam
/Server/M3alam/.vs/ProjectEvaluation
